.header {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: #F1EAE6;
}
.header h1 {
  font-size: 18px;
}
.header a {
  display: block;
  width: 54px;
  height: 54px;
  background-image: url('./returnback_btn.png');
  background-size: 11px 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.container {
  padding-top: 44px;
}
.tab-header-wrap {
  padding: 0 10px;
  background-color: #F1EAE6;
  position: relative;
}
.tab-header-wrap:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 10px;
  height: 100%;
  width: 25px;
  background: linear-gradient(90deg, rgba(241, 234, 230, 0), rgba(241, 234, 230, 100));
}
.tab-header {
  display: flex;
  padding: 0 15px;
  gap: 34px;
  overflow-x: auto;
  overflow-y: hidden;
}
.tab-header::-webkit-scrollbar {
  display: none;
}
.tab-header a {
  flex: none;
  display: block;
  padding: 8px 0;
  font-size: 14px;
  line-height: 20px;
  color: #987B67;
  position: relative;
}
.tab-header a.current {
  font-weight: 500;
  color: #000;
}
.tab-header a.current:after {
  content: '';
  border-radius: 100px 100px 0px 0px;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 20px;
  height: 2px;
  background-color: #000;;
}
.tab-content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tab-content .item {
  background: rgba(255,255,255,0.5);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tab-content .row {
  display: flex;
  align-items: start;
  gap: 10px;
  color: #987B67;
}
.tab-content .row div {
  font-size: 14px;
  line-height: 24px;
}
.tab-content div.label {
  flex: none;
  font-size: 12px;
  font-weight: 500;
  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: rgba(237,191,144,0.3);
  border-radius: 4px;
}
.tab-content h2 {
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
  color: #000;
}
.tab-content div.desc {
  padding-top: 3px;
}